.btn-nav{
    height: 40px;
    width: 200px;
    background: #000;
    border-radius: 5px;
    color: #fff;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

