*{

  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  scroll-behavior: smooth;

}
body{
    margin: 0px;
    
}

.home, .projects, .teams, .contacts, .proimage, .prophone, .explore{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


.prophone{
    height: 100vh;

}

.prophone .content{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    flex-direction: column;
    width: 30%;
}

.prophone .content p{
    width: 130px;
    text-align: left;
}

.prophone .content div img{
    display: none;
}


.prophone .overlay{
    position: absolute;
}

.prophone .overlay img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.proimage{

}

.proimage .overlay img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.teams{
    margin-bottom: 50px;
    position: relative;

}

.home, .explore {
    height: 700px;
    margin-bottom: 50px;


}

.projects .content{
    margin-left: 10%;
    align-items: flex-start;
    margin-top: 10%;
}   

.projects{
    height: 700px;

}

.projects .content p{
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    width: 54%;
    text-align: left;

}
.projects .content span{
    color: rgb(255,0,0);
}

.projects .content h1{
    color: #fff;
    font-family: "Roboto Slab", serif;

    
}

.projects .btn-nav{
    background-color: #fff;
    color: #000;
    margin-left: 10%;
    cursor: pointer;
}

.projects .overlay{
    background-color: #000;
}
.projects .overlay img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.contacts{
    height: 700px;
    align-items: flex-start;
    justify-content: center;
}

.contacts form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
    gap: 20px;
}

.contacts form button{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #8069BF;
    color:#fff;
}

.contacts form .input-area{
    display: flex;
    border: none;
    width: 340px;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    gap: 10px;
    background-color: rgba(255,255,255,0.2);
    
}

.contacts form .text-area{
    width: 340px;
    height: 100px;
    padding: 10px;
    padding-left: 30px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.2);
    


    
}

.contacts form .text-area textarea{
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;

}
.contacts form .text-area textarea::placeholder{
    color: #fff;
}

.contacts form .input-area input{
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;

}
.contacts form .input-area input::placeholder{
    color: #fff;
}
.home .overlay, .projects .overlay, .contacts .overlay, .explore .overlay{
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    z-index: -9999;
}

.home .overlay img, .contacts .overlay img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    left:0;
}

.home .content, .projects .content, .explore .content{
    display: flex;
    flex-direction: column;
}
.home .content, .explore .content{
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    margin-left: 15%;

}
.home .content h1, .projects .content h1{
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 32px;
    font-family: "Roboto Slab", serif;

}
.home .content p{
    width:56%;
    text-align: left;
    margin: 0px;
    margin-bottom: 25px;
    word-spacing: 8px;
    line-height: 23px;
    font-size: 16px;
}

.home .content span{
    color: #8069BF;
}

.explore {
}
.explore .content {
    text-align: left;
}

.explore .content h2{
    font-weight: 400;
    color: #f00;
    letter-spacing: 2px;
    width: 60%;
    word-spacing: 7px;
    text-align: left;
    margin-bottom: 40px;
}

.explore .content p{
    margin: 0px;
    width: 55%;
    word-spacing: 3px;
    margin-bottom: 26px;       
    width: 80%;
}

/* teams page */

.teammembers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 200px;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

@media (min-width:498px) and (max-width:500px){
    .teams{
        height: 1800px;

    }

}


@media (max-width:768px){
    .home .content{
        margin-top: 70px;
        margin-left: 10%;
    }
    .home .content p, .projects .content p{
        width: 100%;
        font-size: 16px;
    }
    .home .content h1, .projects .content h1{
        font-size: 25px;
        text-align: left;
    }

    .projects{
        justify-content: center;
        height: 570px;
        width: 100%;
    }

    .teams{
        overflow: visible;

    }
    .contacts{
        height: 290px;
        align-items: flex-start;
        justify-content: center;
    }
    
    .contacts form {
        width: 90%;
        margin: 0px;
        padding: 10px;
    }
    .contacts .overlay img{
        object-fit: cover;
    }
    
    .contacts form button{
        height: 30px;
        width: 150px;
        border: none;
        border-radius: 5px;
        background-color: #8069BF;
        color:#fff;
    }
    
    .contacts form .input-area{
        display: flex;
        border: none;
        width: 100%;
        height: 20px;
        border-radius: 20px;
        align-items: center;
        padding: 10px;
        padding-left: 30px;
        gap: 10px;
        background-color: rgba(255,255,255,0.2);
        
    }
    
    .contacts form .text-area{
        width: 340px;
        height: 30px;
        padding: 10px;
        padding-left: 30px;
        border: none;
        border-radius: 20px;
        background-color: rgba(255,255,255,0.2);
        
    
    
        
    }
    
    .contacts form .text-area textarea{
        outline: none;
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        color: #fff;
    
    }
    .contacts form .text-area textarea::placeholder{
        color: #fff;
    }
    
    .contacts form .input-area input{
        outline: none;
        border: none;
        background-color: transparent;
        color: #fff;
    
    }
    .contacts form .input-area input::placeholder{
        color: #fff;
    }
    

    .contacts form .input-area, .contacts form .text-area{
        width: 80%;
    }

    .explore {
    }
    .explore .content {
        text-align: left;
        margin-top: 100px;
        margin-left: 20px;
    }
    
    .explore .content h2{
        font-weight: 400;
        color: #000;
        letter-spacing: 2px;
        width: 90%;
        word-spacing: 7px;
        text-align: left;
        margin-bottom: 40px;
        font-size: 18px;
    }
    
    .explore .content p{
        margin: 0px;
        width: 100%;
        word-spacing: 3px;
        margin-bottom: 28px;   
        font-size: 12px;    
    }
    

    .proimage{
    
    }
    .prophone .content{
        width: 90%;
        display: flex;
        gap: 40px;
        flex-direction: row;
    }
    .prophone .overlay{
        display: none;
    }
    .prophone .content div{
    }
    .prophone .content p{
        width: 30%;
        font-size: 12px;
    }

    .prophone .content div img{
        object-fit: contain;
        display: block;
        width: 80%;
        height: 100%;
    }
}