.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-top: 20px;
    margin: 0px;
}

.header ul{
    display: flex;
    width: 60%;
    gap: 40px;
    
}

.header ul li{
    list-style: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.header ul li a{
    text-decoration: none;
    transition: all 0.2s ease;
}
.header ul li a:hover{
    color: #05cfde;
    transition: 0.3s ease;
}

.header .user-reactions{
    display: flex;
    gap: 30px;
}

.header .user-reactions box-icon{
    cursor: pointer;
    display: none;
}

.header .logo-area{
    position: relative;
    width: 200px;
    height: 40px;
    margin-left: 8%;
}

.header .logo-area img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.active{
    color: #0085dd;
}

.inactive{
    color: #000;
}
.shade {
    color: #fff;
}

.darkbg{
    background-color: rgba(0,0,0,0.9);
    transition: 0.5s ease;
}

.whitebg{
    background-color: #fff;
    transition: 0.5s ease;
    
}
/* @media screen and (max-width:768px) {
    .header{
        justify-content: flex-start;
    }
    .header ul{
        display: none;
    }
    .header .user-reactions{
        display: none;
    }
} */